.venv/
.env
instance/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
mvp_blood_bank.db
mvp_blood_bank.backup.db
exports/
.venv/
.vscode/
.env
.DS_Store
coverage/
htmlcov/
*.egg-info/
*.egg
dist/
build/
.pytest_cache/
__pypackages__/
*.log
